.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.background{
  background-image: url(https://products.ls.graphics/mesh-gradients/images/80.-Dusty-blue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:60px;
  width: 40%;
  height: 50%;
  border-radius: 15px;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.281);
  cursor:pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  transform: scale(1) translateY(0);

  &:hover {
    transform: scale(1.1) translateY(-60px);
    box-shadow:0 40px 40px 5px rgba(0, 0, 0, 0.281);
  }

  &:hover  h3{

    font-size:100px;
    margin-bottom:250px;

  }

  &:hover  h1{

    opacity:0;
  }

  h1{
    font-size:40px;
    letter-spacing:3px;
    color:rgb(255, 255, 255);
    text-shadow:0 2px 4px rgba(0, 0, 0, 0.781);
    opacity:1;
    transition: all 0.2s ease-in-out;
  }
  h3{
    font-size:60px;
    letter-spacing:3px;
    color:rgb(212, 113, 168);
    // text-shadow:0 2px 4px rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
    margin-bottom:0px;
  }
}
